/* =========================
   NAVBAR
========================= */

.navbar .container-fluid{
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius:25px;
}

.navbar-brand{
    display: flex;
    align-items: center;
    margin: 0;
    padding: 0;
    padding: 6px 0; 
}

.navbar-brand img{
    height: 60px;
    width: auto;
    display: block;
    object-fit: contain;
    border-radius: 50%;
}

.login-button{
    background-color: #151616;
    color:#fff;
    font-size:14px;
    padding:8px 20px;
    border-radius:50px;
    text-decoration:none;
    transition:0.3s;
}

.login-button:hover{
    background-color:#00b383;
}

.navbar-toggler{
    border:none;
    font-size:1.25rem;
}

.navbar-toggler:focus,
.btn-close:focus{
    box-shadow:none;
    outline:none;
}

.nav-link{
    color:#666777;
    font-weight:500;
    position:relative;
}

.nav-links:hover,
.nav-link.active{
    color:#000;
}

/* underline desktop */
@media (min-width:991px){
.nav-link::before{
    content:"";
    position:absolute;
    bottom:0;
    left:50%;
    transform:translateX(-50%);
    width:0;
    height:2px;
    background-color:#009970;
    visibility:hidden;
    transition:0.3s;
}

.nav-link:hover::before,
.nav-link.active::before{
    width:100%;
    visibility:visible;
}
}



/* =========================
   HERO SECTION
========================= */
.hero-section{
    background:url(../img/IMG_20260626_175431.jpg) no-repeat center;
    background-size:cover;
    width:100%;
    position:relative;
}

.hero-section::before{
    content:"";
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:rgba(0,0,0,0.6);
}

.hero-section .container{
    height:100vh;
    z-index:1;
    position:relative;
}

.hero-section h1{
    font-size:1.5em;
}

/* =========================
   TEXTOS
========================= */
#texto_1{
    background-color:#4e4f55;
    color:#fff;
    padding:20px;
    text-align:center;
}

#texto_2{
    width:100%;
    color:#fff;
    background-color:#4e4f55;
    padding:1rem;
    box-sizing:border-box;
}

/* =========================
   GALARY (imagem + texto)
========================= */
.galary{
    display:flex;
    align-items:center;
    gap:20px;
    flex-wrap:wrap;
}

.galary img{
    width:40%;
    max-width:400px;
    height:auto;
    display:block;
}

.descricao{
    flex:1;
    min-width:0;
}


.descricao h2{
    color:#fff;
    margin-bottom:10px;
}

.descricao p{
    color:#fff;
    line-height:1.6;
    text-align:justify;
    word-break:normal;
    overflow-wrap:break-word;
}

.descricao a{
    color:#cbc7c7;
    font-weight: bold;
    text-shadow: 1px 1px 1px #000;
}

/* MOBILE GALARY */
@media (max-width:768px){
    .galary{
        flex-direction:column;
        align-items:center;
    }

    .galary img{
        width:100%;
        max-width:100%;
    }

    .descricao{
        width:100%;
        text-align:center;
    }
}

/* =========================
   CARD BOX (imagem + texto)
========================= */
.card-box{
    display:flex;
    align-items:flex-start;
    gap:18px;
    background:#4e4f55;
    padding:15px;
    border-radius:10px;
    height:100%;
}
.card-box p{
    flex:1;
    margin:0;
}

/* MOBILE CARD BOX */
@media (max-width:768px){
    .card-box{
        flex-direction:column;
        text-align:center;
    }

    .img-3{
        width:100%;
        max-width:100%;
    }
}

/* =========================
   IMAGEM CARD
========================= */
.img-3{
    width:220px;
    height:220px;
    object-fit:cover;
    border-radius:8px;
    flex-shrink:0;
}
/* =========================
   GRID CARDS
========================= */
.grid{
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(340px, 1fr));
    gap:24px;
    align-items:start;
}

/* tablet */
@media (max-width:992px){
    .grid{
        grid-template-columns:repeat(2, 1fr);
    }
}

/* mobile */
@media (max-width:768px){
    .grid{
        grid-template-columns:1fr;
    }
}

/* =========================
   CARDS WRAPPER
========================= */

.container-3{
    background:#4e4f55;
    border-top:1px solid #151616;
    padding:40px 20px;
}

.card-fff{
   color: #fff;
   text-shadow: 1px 1px 1px #000;
}

@media (max-width:1100px){

    .card-box{
        flex-direction:column;
        align-items:center;
        text-align:center;
    }

    .img-3{
        width:100%;
        max-width:350px;
        height:220px;
    }

    .descricao{
        width:100%;
    }

    .descricao p{
        text-align:left;
    }
}